body {
  padding: 8rem 1rem 0rem 1rem;
}

#primaryNav {
  background-color: $white;
  .container {
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(xs) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
    }

    .navbar-brand {
      color: $brand-primary !important;
      @include media-breakpoint-down(xs) {
        font-size: 0.9rem;
      }
    }

    .navbar-text {
      span {
        color: $brand-primary;
      }
      @include media-breakpoint-down(xs) {
        padding-top: .375rem;
        font-size: 0.7rem;
      }
    }

    .fa.fa-search {
      cursor: pointer;
      @extend .ml-2;
    }
  }

}

#secondaryNav {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  top: 3rem;
  padding-left: 0;
  padding-right: 1rem;

  @include media-breakpoint-down(xs) {
    top: 2.5rem;
    .container {
      margin-left: 0;
      margin-right: 0;
      min-height: 2.5rem;
      .nav-link {
        margin-left: 1rem !important;
      }
    }
  }
}

#articles {
  article {
    background-color: $white;
    border: 1px solid $border-color;
    box-shadow: 0 1px 4px $border-color;
    @extend .rounded;
    @extend .p-3;

    .row {
      margin-bottom: 0.8rem;
    }

    .avatar {
      @extend .rounded-circle;
      @extend .mr-3;
    }

    .author-name {
      font-size: 0.8rem;
      color: $brand-primary;
      display: block;
    }

    .date {
      font-size: 0.8rem;
      color: $brand-secondary;
      display: block;
    }

    .title {
      color: $black;
      margin-top: 1rem;
      text-decoration: none;
    }

    .image-article {
      @extend .img-fluid;
    }

    .read-more {
      color: $brand-secondary;
      text-decoration: none;
    }
  }
}

#pagination {
  margin-top: 1rem;
}

footer {
  margin: 1rem 0rem 1rem 0rem;
  padding-top: 1rem;
  border-top: 1px solid $brand-primary;
  color: $brand-primary;
  font-size: 0.8rem;
  text-align: center;
}