body {
  padding: 8rem 1rem 0rem 1rem;
}

#primaryNav {
  background-color: $white;
  .container {
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(xs) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
    }

    .navbar-brand {
      color: $brand-primary !important;
      @include media-breakpoint-down(xs) {
        font-size: 0.9rem;
      }
    }

    .navbar-text {
      span {
        color: $brand-primary;
      }
      @include media-breakpoint-down(xs) {
        padding-top: .375rem;
        font-size: 0.7rem;
      }
    }

    .fa.fa-search {
      cursor: pointer;
      @extend .ml-2;
    }
  }

}

#secondaryNav {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  top: 3rem;
  padding-left: 0;
  padding-right: 1rem;

  @include media-breakpoint-down(xs) {
    top: 2.5rem;
    .container {
      margin-left: 0;
      margin-right: 0;
      min-height: 2.5rem;
      .nav-link {
        margin-left: 1rem !important;
      }
    }
  }
}

.article {
  background-color: $white;
  border: 1px solid $border-color;
  box-shadow: 0 1px 4px $border-color;
  @extend .rounded;
  @extend .p-3;

  .row {
    margin-bottom: 0.8rem;
  }

  .article-avatar {
    @extend .rounded-circle;
    @extend .mr-3;
  }

  .article-author {
    font-size: 0.8rem;
    color: $brand-primary;
    display: block;
  }

  .article-date {
    font-size: 0.8rem;
    color: $brand-secondary;
    display: block;
  }

  .article-title {
    color: $black;
    margin-top: 1rem;
    text-decoration: none;
  }

  .article-image {
    @extend .img-fluid;
  }

  .article-read-more {
    color: $brand-secondary;
    text-decoration: none;
    &:hover {
      color: $brand-tertiary;
    }
  }
  #like {
    cursor: pointer;
  }
}

#pagination {
  margin-top: 1rem;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  display: none;
}

footer {
  margin: 1rem 0rem 1rem 0rem;
  padding-top: 1rem;
  border-top: 1px solid $brand-primary;
  color: $brand-primary;
  font-size: 0.8rem;
  text-align: center;
}